body{
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
}

.menNav{
    color: #286075;
    font-weight: 900;
}

.contentHeader{
  overflow: auto; 
  
}

.menNav:hover{
    color: #009fae;
}

.tituloSolucion{
    font-size: 36px;
    color: #286075;
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;


}
.navDona{
    background-color: #286075;
    padding: 13px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 900;
}

.footerStyle{
    background-color: #5e5e5e;
    color:#ffffff;
    padding: 30px 0 30px 0;
    
    
    
   
}

.PoliticaDePrivacidad{
    color: #009fae;
}

.imageSolucion{
 width: 170px;
 line-height: 0;
 border: 1px solid turquoise;
 padding: 8px;

 
}

.textSolucion{
    font-size: 18px;
    color: #333333;

}

.dropdown-item{
    color: #a1b1bc;
    text-align: left;
    padding: 11px 14px 11px 14px !important;
    font-size: 13px;
    margin: 0;
}
.dropdown-menu{
    border-top: 3px solid #009fae;
    background: #ffffff;
    margin-top: 30%;
    border-left: 1px solid #ecf0f1;
   
}


    

